body {
<<<<<<< HEAD

=======
>>>>>>> 32191ffac38fc935d4ed01b350b6c5cb1ffe11c6
	background-color: beige;
}

h1, p {
<<<<<<< HEAD
	color: hotpink;	
=======
	color: hotpink;
>>>>>>> 32191ffac38fc935d4ed01b350b6c5cb1ffe11c6
}
