@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Pangolin');

body {
	color: rgb(0,0,184);
	background-color: rgb(217,217,255);
	font-family: 'Pangolin', cursive;

}
#slogan {
	font-style: italic;
	font-size: 25px;
}

h1 {
	font-family: 'Pangolin', cursive;
	font-weight: bold;
}

li {
	font-family: 'Archivo Narrow', sans-serif;
	text-align: left;
	list-style-type: none;
}