@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Arimo');
:  * { margin:0; padding:0; box-sizing:border-box; }

body {
	color: rgb(00, 77, 153);
	background-color: white;
	font-family: 'Arimo';
	margin: 2em;	
}

header {
	background-color: #99ccff;	
	border: 1px blue dotted;
	padding: .5em 0;
	margin: .1em 0;
	width: 100%;
}

h1 {
	font-family: 'Arimo';
	font-style: bold;
	font-size: 2.5em;
	text-align: center;
	line-height: 1em;	
}

div {
	column-count: 3;
}

.topnav  {
	overflow: hidden;
	font-size: 1em;
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding-left: .5em;
	margin: .1em 0;
	text-decoration: none;
}

.topnav input[type=text] {
	float: right;
	padding: .8em;
	border: none;
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: 1em;
	background-color: #e6f3ff;
}

.topnav .search-container button {
	padding: .8em;
	border: none;
	margin-top:  .5em;
	margin-bottom: .5em;
	margin-right: 1em;
	font-size: 1em;
	background: #ddd;
	cursor: pointer;
}

.midnav {
	background-color: #ffffcc;
	margin: .1em 0 .1em 0;
	width: 100%;
}

ul { 
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.2em;
	text-align: left;
	list-style-type: none;
	float: none;
}

li {
	padding: .2em;
	margin-left: .4em;	
}

h2 {
	padding: .2em;
	margin: .2em 0 .2em 0;
	background-color: #0080ff;
	color: #FFF;
	font-size: 2em;
	text-align: center;
	width: 99%;
}

h3 {
	font-weight: bold;
	font-size: 2em;
	color: rgb(00, 77, 153);
}

img {
	float: left;
	margin: 0px 0px 15px 20px;
}

.myimages {
	width: 25%;
	height: auto;
	margin-left: .5em;
	padding: .75em;
}

#spotlight {
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 1em;
}

div {
	clear:left;
}

#three_column a {
	background-color: #b3d9ff;
	padding: 2%;
	display: block;	
	box-shadow: 1px 1px 3px rgba(0,0,0);
	margin-bottom: .5em;
	text-decoration: none;
	color: rgb(00, 77, 153);
}


footer {
	margin-top: 1em;
	background-color: #99ccff;
	text-align: center;	
	padding: .1em;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: .8em;
	}

	#spotlight {
		font-size: .8em;
	}

	h3 {
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 350px) {
	h1 {
		font-size: .75em;
	}

	.topnav {
		font-size: 1em;
		height: 3em;
	}

	.topnav .search-container button {
		font-size: 1em;
		display: none;
	}	

	}