@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Arimo');
:  * { margin:0; padding:0; box-sizing:border-box; }

body {
	color: rgb(00, 77, 153);
	background-color: white;
	font-family: 'Arimo';
	margin: 2em;	
}

header {
	background-color: #99ccff;	
	border: 1px blue dotted;
	padding: .5em 0;
	margin: .1em 0 .1em 0;
	width: 100%;
}

h1 {
	font-family: 'Arimo';
	font-style: bold;
	font-size: 2.5em;
	text-align: center;
	line-height: 1em;	
}

nav {
	background-color: #ffffcc;
	padding: 1em 0 1em 0;
	margin: .2em 0 .2em 0;
	width: 100%;
}

.myimages {
	width: 30%;
	height: 20%;
	border: 1px white solid;
	margin-left: .5em;
	padding: .75em;
}

#photo {
	margin-left: 5px;
	margin-top: 10px;
	padding-top: 5px;
}

ul {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1em;
	text-align: center;
	list-style-type: none;
	column-count: 6; 
}

li {
	padding: .2em;
}

h2 {
	padding: .2em;
	margin: .2em 0 .2em 0;
	background-color: #0080ff;
	color: #FFF;
	font-size: 2em;
	text-align: center;
	width: 99%;
}

div {
	column-count: 3;
	color: black;
}

#three_column a {
	background-color: #b3d9ff;
	padding: 2%;
	display: block;	
	box-shadow: 1px 1px 3px rgba(0,0,0);
	margin-bottom: .5em;
	text-decoration: none;
	color: rgb(00, 77, 153);
}

#text {
	margin: .1em 0 .5em 0;
	padding: .2em;
}

footer {
	margin-top: 1em;
	background-color: #99ccff;
	text-align: center;	
	padding: .1em;
}

@media only screen and (max-width: 545px) {
	ul {
		font-size: .75em;
	}
}

