body {
	color: blue;
	background-color: white;
	font-family: Helvetica, sans-serif;

}
#slogan {
	font-style: italic;
	font-size: 25px;

}
image {
	size:  medium;

}

h1 {
font-weight: bold;
}

li {
	text-align: center;
	list-style-type: none;
}