body {
	color: blue;
	background-color: white;
	font-family: Helvetica;

}
#slogan {
	font-style: italic;
	font-size: 25px;
}

h1 {
	font-weight: bold;
}

li {
	text-align: center;
	list-style-type: none;
}